#nav-bar-container {
  height: 100px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  background: #D1D2D3;
  align-items: center;
  border-radius: 1px;
}

.menu-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #666666;
}

.menu-btn p {
  font-size: 60%;
}

.link {
  color: #666666;
}

#nav-bar-input {
  border: 1px solid #666666;
  background: #f2f2f2;
  height: 30px;
  text-align: center;
}

#nav-bar-drop {
  display: none;
}

@media screen and (max-width: 800px) {
  #nav-bar-container {
    display:none;
  }

  #nav-bar-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 400px;
    width: 90%;
  }

  #drop-link-container {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
  }

  #menu-tab {
    width: 100%;
    height: 20%;
    background: #D1D2D3;
    display: flex;
    align-items: center;
  }

  .drop-link {
    height: 25%;
    width: 100%;
    background: #e8e8e8;
    display: flex;
    align-items: center;
  }

  .drop-link p {
    margin-left: 20px;
  }

  #drop-input-container {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8e8e8;
  }

  #menu-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666666;
    margin-left: 20px;
  }

  #menu-button p {
    font-size: 60%;
  }

  #drop-input {
    border: 1px solid #666666;
    background: #f2f2f2;
    height: 30px;
    text-align: center;
    width: 85%;
  }


}
